<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RequestHeaderParser</title>
	<link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
	<h1>Request Header Parser Microservice --A simple API service</h1>
	<h3>function: </h3>
	<ul>
		<li>I can get the IP address, language and operating system for my browser.</li>
	</ul>
	<h3>Some Example:</h3>
	<p>
		Input: 
		<pre>	https://HeaderParser-yuyang.herokuapp.com/whoami</pre>
		Output: 
		<pre>	{"ipaddress":"39.178.34.240","language":"zh-CN","software":"Windows NT 6.1"}</pre>
	</p>
</body>
</html>